h2 {
    font-size: 60pt;
}

h3 {
    font-size: 20pt;
}

.mensagem {
    margin-bottom: 30px;
    text-align: center;
}

.recorde {
    text-align: center;
    color: green;
}

.resultado {
    margin: 30pt;
    text-align: center;
}

li {
    margin: 10px;
}