h2 {
    font-size: 60pt;
}

h3 {
    font-size: 20pt;
}

.recorde {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: green;
}

.resultado {
    margin: 30pt;
}